###Comparators
Make all of the following statements print True

In [ ]:
a = 7
print(a < 10)

True

In [ ]:
a = 17
print(a > 10)

True

In [ ]:
b = 0
print(b < 0)

In [ ]:
c = "Hello, world!"
print(c != "Hello, world!")

In [ ]:
d = input("Enter a positive number: ")
print(float(d) < 1)

In [ ]:
e = "Mr. Kaiser"
f = input("Who is the best teacher? ")
print(e == f)

Who is the best teacher? Me
False

###If-statements
If statements have the following form:

```
if condition:
  code
  ```

Make the codeblocks in the follow if statements execute.

In [ ]:
name = input("Enter your name: ")
if name == "Kaia":
  print("One cell down, two to go!")

Enter your name: Monica

In [ ]:
# This is something we haven't explicitly 
# talked about. See if you can figure it out!
empty_string = input("Make me the empty string!")
if empty_string == "":
  print("Two cells down, one to go!")

Make me the empty string!
Two cells down, one to go!

In [ ]:
# Fill in this cell by writing your own if statement
# that prints "You did it!" if the condition is met
age = int(input("hey"))

###If-else statements
If-else statements have the following form:
```
if condition:
  codeblock
else:
  codeblock
  ```
It is only possible for one of the code blocks to execute.

Complete the following challenges.

In [ ]:
# Ask the user for their age
# If they are over 18 print "You can vote!"
# Otherwise print "You can't vote yet!"

In [ ]:
# Expand on your previous code so that
# if they are 18 it still prints "You can vote!"
# but if they are under 18 it prints 
# "You can vote in x years" with x being the
# number of years until they can vote.

In [ ]:
age = int(input("How old are you? "))
if age >= 18:
  print("You can vote!")
else:
  print("You can vote in", 18 - age, "years.")

###Logical Operators
This section is to help you get familiar with `and` and `or`!

Make the following statements print True.

In [ ]:
x = 2
print(x > 2 and x + 2 > 2)

False

In [ ]:
y = 4
z = 3
print(y > 4 or z > 4)

False

In [ ]:
num1 = 1
num2 = 2
print(num1 / 2 == 1 or num2 / 4 == 1)

False

In [ ]:
x1 = 4
x2 = 7
print(x1 // 3 + x2 // 2 == 11 and x2 < 8)

False

In [ ]:
legs = input("How many legs do I have? ")

How many legs do I have? 10